
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1d1e20; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #999999; /* color of the thumb */
    border-radius: 6px; /* rounded corners */
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #888888; /* color of the thumb on hover */
    }



.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
    align-items: stretch;
}
.film-box {
    width: 200px;
    background-color: #181818;
    border: 2px solid #414141;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Smooth transition for scale */
}

.film-img {
    position: relative; /* Position relative for absolute positioning of rating */
}

.film-rating {
    position: absolute; /* Position absolute for top-right positioning */
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
    padding: 5px; /* Padding around the rating */
    font-size: 18px; /* Font size of the rating */
    border-radius: 5px; /* Rounded corners */
    font: 1.1rem 'Roboto', sans-serif;
}

/* Existing styles */
.film-img img {
    width: 100%;
    height: auto;
}

.film-box:hover {
    transform: scale(1.1); /* Scale up on hover */
    z-index: 40;
}

.film-name {
    padding: 10px;
    text-align: center;
}

    .film-name span {
        font-size: 18px;
        font-weight: 100;
        color: white;
        font-family: sans-serif;
    }

.film-year {
    text-align: center;
    color: #8f8f8f;
    font-family: sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}
.load-btn {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    text-align: center; /* Center align text */
    display: inline-block; /* Ensure button width is only as wide as its content */
}

    .load-btn:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
.load-more-btn {
    margin-top:30px;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.header {
    font: 1.1rem 'Roboto', sans-serif;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 900;
    align-items: center;
    justify-content: space-between;
}

.header-el {
    text-decoration: none; /* Remove default underline from links */
    color: #fff; /* Text color for the links */
    margin: 0 10px; /* Spacing between the links */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

    .header-el:hover,
    .header-el.active {
        color: #ffa500; /* Color for the links on hover and when active */
    }
.err-img {
    width: 200px;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family:sans-serif;
}
.overview {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding-bottom:20px;
}
.main-movie {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}
.movie-title {
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.original-title {
    font-size: 30px;
    color: white;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.movie-details {
    margin-top: 30px;
    color: white;
    display: flex;
}
.movie-overview {
    padding-top: 5px;
    font-size: 18px;
    width: 80%;
    text-indent: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.movie-content{
    margin-top:30px;
    margin-left:40px;
}
.movie-image {
    width:300px;
    min-width:250px;
    margin-right: 20px; /* Adjust as needed for spacing */
    margin-left:30px;
    
}


    .movie-image img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
.movie-img-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: sans-serif;
}
.movie-languages {
    gap: 10px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
    align-items: baseline;
}
.language {
    padding-left: 10px;
    margin-left:-10px;
    font-size: 22px;
    color: #ffa500;
}
.detail-lable{
    margin-left:30px;
    margin-bottom:30px;
}
.cast {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: -webkit-fill-available;
}
.cast-text {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.cast-box {
    display: flex;
    gap: 30px;
    overflow-x: scroll;

    margin: 60px auto 30px;
}
    .cast-box::-webkit-scrollbar {
        height: 15px;
        min-width:1px;
    }
    .cast-box::-webkit-scrollbar-thumb {
        background: #ffffff1a;
        border-radius: 10px;
    }
        /* Individual cast member container */
.cast-member {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
height: fit-content;
}

/* Style for cast images */
.cast-img img {
    width: 133px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.cast-cred {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.cast-name, .cast-char{
    text-align: center;
    margin: 0;
    font-size:18px;
    font-family:sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.cast-char {
    color: #ffa500;
}
.trailer-box {
    display: flex;
    height: auto;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: -webkit-fill-available;
    flex-direction: column;
}
.trailer {
    display: flex;
    justify-content: center;
}

.reviews-box {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: -webkit-fill-available;
}

/* Style for each review */
.review {
    background-color: #343537;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style for review author */
.review-author {
    font-size: 20px;
    color: #f78f00;
    font-weight: bold; /* Example font weight */
    font-family: sans-serif;
}

/* Style for review content */
.review-content {
    color:white;
    text-indent: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-family: sans-serif;
    word-spacing: 3px; /* Adjust this value as needed */

}
.review-text {
    font-size: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
    font-weight: 200;
    color: #ff8413;
    text-align: center;
    padding-top: 10px;
}


@media only screen and (max-width: 1000px) {
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 80px;
        align-items: stretch;
    }
}
@media only screen and (max-width: 700px) {
    .main-movie {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .movie-details {
        margin-top: 30px;
        margin-left: 30px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .cast-img img {
        width: 133px;
        height: 200px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .cast-box {
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        max-width: 550px;
        margin: 60px auto 60px;
    }
    .cast-box::-webkit-scrollbar {
        height: 15px;
        width:30px;
    }
    .cast-cred {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .cast-name, .cast-char {
        text-align: center;
        margin: 0;
        font-size: 15px;
        font-family: sans-serif;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    .cast-text {

        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
    .cast-char {
        color: #ffa500;
    }

    

}
@media only screen and (max-width: 600px) {

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 80px;
        align-items: stretch;
    }

    .film-box {
        width: 150px;
        background-color: #181818;
        border: 2px solid #414141;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease; /* Smooth transition for scale */
    }

    

    .movie-title {
        font-size: 40px;
        margin-left: 5%;

        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
    }

    .original-title {
        font-size: 30px;
        color: white;
        flex-direction: column;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
    }

   

    .movie-overview {
        padding-top: 40px;
        font-size: 18px;
        width: 80%;
        text-indent: 20px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .movie-content {
        margin-top: 30px;
        margin-left: 50px;
    }

    .movie-image {
        max-width:250px;
        
        min-width: 250px;
        margin-right: 20px; /* Adjust as needed for spacing */
        margin-left: 30px;
    }


        .movie-image img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }

    .movie-img-details {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 25px;

        margin-top:30px;
        font-family: sans-serif;
    }

    .movie-languages {
        gap: 10px;
        display: flex;
        margin-left: 30px;
        margin-bottom: 30px;
        align-items: baseline;
    }

    .language {
        margin-left: -10px;
        padding-left: 10px;
        font-size: 20px;
        color: #ffa500;
    }

    .detail-lable {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .overview {
        font-size: 40px;
        margin-left:-30px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
   .cast{
       margin-left:20px;
   }
    .cast-img img {
        width: 80px;
        height: 130px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .cast-box {
        display: flex;
        gap: 15px;
        overflow-x: scroll;
        
        margin: 30px auto 30px;
    }

        .cast-box::-webkit-scrollbar {
            height: 15px;
            
        }

    .cast-cred {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .cast-name, .cast-char {
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-family: sans-serif;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    .cast-text {

        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
    .cast-char {
        color: #ffa500;
    }
    .trailer-box {
        margin-left: 20px;

    }
    .reviews-box {
        margin-left: 20px;
    }
    
}
@media only screen and (max-width: 580px) {
    .main-movie {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .film-box {
        width: 140px;
        background-color: #181818;
        border: 2px solid #414141;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease; /* Smooth transition for scale */
    }
    .movie-title {
        font-size: 30px;
        margin-left:5%;
        width: 350px;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
    }

    .movie-img-details {
        justify-content: center;
        display: flex;
        margin-left: -49px;
        flex-direction: column;
        font-size: 20px;
        font-family: sans-serif;
    }

    .language {
        margin-left: -10px;
        padding-left: 10px;
        font-size: 18px;
        color: #ffa500;
    }
    .movie-content {
        margin-top: 50px;
        margin-left: 50px;
    }
    .movie-details {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .movie-image {
        width: 250px;
        min-width: 100px;
        margin-left: 0px;
    }


        .movie-image img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    .movie-overview {
        padding-top: 40px;
        font-size: 18px;
        width: 90%;
        text-indent: 15px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cast {
        margin-top: 30px;
        margin-left: 20px;
        width: -webkit-fill-available;
    }
    .cast-box {
        display: flex;
        gap: 15px;
        overflow-x: scroll;

        margin: 30px auto 30px;
    }
    .cast-text {
        
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
    .cast-char {
        color: #ffa500;
    }
    .reviews-box {
        margin-top: 30px;
        margin-left: 20px;
        width: -webkit-fill-available;
    }
}
@media only screen and (max-width: 400px) {
    .movie-img-details {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-family: sans-serif;
    }
    .movie-title {
        width: 250px;
        margin-left: 5%;
        font-size: 22px;
    }
    .language {
        margin-left: -10px;
        padding-left: 10px;
        font-size: 14px;
        color: #ffa500;
    }

    .movie-content {
        margin-top: 10px;
        margin-left: 50px;
    }

    .movie-details {
        margin-left: 30px;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .movie-image {
        width: 200px;
        min-width: 100px;
        margin-left: 0;
    }


        .movie-image img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }

    .movie-overview {
        padding-top: 40px;
        font-size: 16px;
        width: 90%;
        text-indent: 15px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .cast-box {
        display: flex;
        gap: 15px;
        overflow-x: scroll;

        margin: 30px auto 30px;
    }
    .cast-text {
        
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
    }
    .cast-char {
        color: #ffa500;
    }


}
