.trailer iframe {
    width: 800px;
    margin-top:30px;
    height: 450px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 900px) {
    .trailer iframe {
        height: 430px;
        
    }
}@media only screen and (max-width: 850px) {
    .trailer iframe {
        height: 406px;
    }
}
@media only screen and (max-width: 790px) {
    .trailer iframe {
        height: 374px;
    }
}
@media only screen and (max-width: 740px) {
    .trailer iframe {
        height: 350px;
    }
}
@media only screen and (max-width: 700px) {
    .trailer iframe {
        height: 320px;
    }
}

@media only screen and (max-width: 650px) {
    .trailer iframe {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .trailer iframe {
        height: 280px;
    }
}
@media only screen and (max-width: 550px) {
    .trailer iframe {
        height: 260px;
    }
}

@media only screen and (max-width: 500px) {
    .trailer iframe {
        height: 240px;
    }
}

@media only screen and (max-width: 450px) {
    .trailer iframe {
        height: 220px;
    }
}

@media only screen and (max-width: 400px) {
    .trailer iframe {
        height: 200px;
    }
}

